body
	font-family: $SFUIDisplay
	font-size: 14px
	line-height: 30px
	letter-spacing: 0.05em
	font-weight: 200
	+font-smoothing

.title-lg
	font-family: $Panton
	font-size: 60px
	line-height: 72px
	letter-spacing: 0.25em
	font-weight: 600 
	
.title-md
	font-family: $Panton
	font-size: 48px
	line-height: 60px
	letter-spacing: 0.25em
	font-weight: 600 

.title-sm
	font-family: $Panton
	font-size: 30px
	line-height: 48px
	letter-spacing: 0.25em
	font-weight: 600

.title-xs
	font-family: $SFUIDisplay
	font-size: 18px
	line-height: 30px
	letter-spacing: 0.05em
	font-weight: 200
	&_small
		font-size: 14px
		font-weight: 600 

.inner
	max-width: 1045px
	padding: 0 20px
	margin: 0 auto

.logo
	width: 97px
	display: block
	img
		max-width: 100%
		display: block 