body
	font-family: $SFUIDisplay
	font-size: 14px
	// line-height: 30px
	// letter-spacing: 0.05em
	font-weight: 200
	+font-smoothing
	min-width: 320px

.title-lg
	font-family: $Panton
	color: $grey
	font-size: 60px
	line-height: 72px
	letter-spacing: 0.25em
	font-weight: 600
	letter-spacing: 1.5px
	
.title-md
	font-family: $Panton
	font-size: 48px
	line-height: 60px
	// letter-spacing: 0.25em
	letter-spacing: 0.9px
	font-weight: 600 
	color: $grey
	+r(767)
		line-height: 36px
		letter-spacing: 0.7px
		font-size: 30px

.title-sm
	font-family: $Panton
	font-size: 30px
	// line-height: 48px
	// letter-spacing: 0.25em
	font-weight: 600
	color: $dark
	+r(767)
		font-size: 24px

.title-xs
	font-family: $SFUIDisplay
	font-size: 18px
	line-height: 30px
	letter-spacing: 0.9px
	font-weight: 200
	color: $grey
	+r(767)
		font-size: 14px
		line-height: 24px
	&_small
		font-size: 14px
		font-weight: 600 

.inner
	max-width: 1045px
	padding: 0 20px
	margin: 0 auto
	+sm
		padding: 0 15px 

.logo
	width: 97px
	display: block
	&__circle
		.header.header_violet &
			fill: $violet
		.header.header_red &
			fill: $red
		.header.header_yellow &
			fill: $yellow			

.icon-soc
	background: $green
	height: 40px
	width: 40px
	display: block
	border-radius: 50%
	position: relative
	.icon-icon_vk,
	.icon-icon_insta,
	.icon-icon_fb 
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		fill: $white

.icon-master,
.icon-visa,
.icon-PayPay
	font-size: 33px

.dev-logo
	display: flex
	span
		margin-top: -5px 
		color: #839298
		font-size: 10px
		margin-right: 5px
	&__icon
		max-width: 70px
		display: block
		img
			display: block
			width: 100%

.in
	max-width: 1045px
	padding: 0 20px
	position: relative
	margin: 0 auto
	+r(1279)
		max-width: 1279px
		padding: 0 119px 
	+r(767)
		padding: 0 15px 

.button
	padding: 15px 0
	width: 250px
	text-align: center
	font-size: 11px
	line-height: 30px
	color: #fff
	text-transform: uppercase
	background: $crimson
	border-radius: 30px
	letter-spacing: 1.1px
	border: 1px solid $crimson
	box-sizing: border-box
	transition: color, background 0.3s
	&_small
		width: 194px
	&:hover
		color: $crimson
		background: #FFF
	&.disabled
		background: transparent
		color: rgba(#373e41, 0.2)
		border: 1px solid rgba(#373e41, 0.2)

.link
	display: block
	text-decoration: none
	max-width: 162px
	position: relative
	overflow: hidden
	&:hover
		&::after
			transform: translateX(100%)
	&::after
		content: ''
		position: absolute
		top: 25px
		width: 100%
		height: 1px
		background: $grey
		right: 100% 
		transition: transform 0.3s
		// transform: translateX(-100px)
	&__title
		color: $grey
		font-size: 10px
		font-weight: 700
		line-height: 30px
		text-transform: uppercase
		letter-spacing: 0.5px
	&__icon
		font-size: 9px

.bg
	position: absolute
	left: 50%
	transform: translateX(-50%)
	// width: 100%
	img
		display: block
