---
title: faq-esl page
---
{% extends "layouts/_layout.html" %}

{% block content %}

{{ header.block({ class: 'header_violet' }) }}

<div class="faq-esl__wrapper">
	<div class="faq-esl__violet-ellipse-top">
		<img src="img/faq_esl-violet.svg" alt="ellipse">
	</div>
	<div class="faq-esl__inner inner">
		<div class="faq-esl__title">
			<h2 class="title-lg">
				Здесь мы отобрали часто задаваемые вопросы 
				и ответили на них
			</h2>
		</div>
		<div class="faq-esl__container">
			<div class="faq-esl__menu menu">
				<ul class="menu__block">
					<li class="menu__item">
						<a href="" class="menu__link active">
							Работа
						</a>
					</li>
					<li class="menu__item">
						<a href="" class="menu__link">
							Жилье
						</a>
					</li>
					<li class="menu__item">
						<a href="" class="menu__link">
							Затраты
						</a>
					</li>
				</ul>
			</div>
			<div class="faq-esl__accordion accordion js-faq-esl-accord">
				<div class="accordion__block">
					<div class="accordion__botton-block">
						<button class="accordion__button js-accord-btn" type="button">
						</button>
					</div>
					<div class="accordion__cont">
						<div class="accordion__title">
							<span>
								Как бысто я начинаю работать?
							</span>
						</div>
						<div class="accordion__hide-block js-accord-hide-block">
							<span class="accordion__line"></span>
							<div class="accordion__text">
								<p>
									К моменту Вашего прибытия, у нас уже есть несколько вакансий заинтересованных конкретно в Вас. Сроки утверждения на одну из этих вакансий, зависят от успешности Вашего демо урока. В некоторых случаях, нам удается получить одобрение и утверждение со стороны школы еще до Вашего приезда! В таком случае, мы заранее сообщаем, в какой именно город и школу вы попадете. Также, предоставляются фактические фото жилья и рабочего места.
								</p>
							</div>
						</div>
					</div>		
				</div>
				<div class="accordion__block">
					<div class="accordion__botton-block">
						<button class="accordion__button js-accord-btn" type="button">
						</button>
					</div>
					<div class="accordion__cont">
						<div class="accordion__title">
							<span>
								Что такое демо урок?
							</span>
						</div>
						<div class="accordion__hide-block js-accord-hide-block">
							<span class="accordion__line"></span>
							<div class="accordion__text">
								<p>
									К моменту Вашего прибытия, у нас уже есть несколько вакансий заинтересованных конкретно в Вас. Сроки утверждения на одну из этих вакансий, зависят от успешности Вашего демо урока. В некоторых случаях, нам удается получить одобрение и утверждение со стороны школы еще до Вашего приезда! В таком случае, мы заранее сообщаем, в какой именно город и школу вы попадете. Также, предоставляются фактические фото жилья и рабочего места.
								</p>
							</div>
						</div>
					</div>		
				</div>
				<div class="accordion__block">
					<div class="accordion__botton-block">
						<button class="accordion__button js-accord-btn" type="button">
						</button>
					</div>
					<div class="accordion__cont">
						<div class="accordion__title">
							<span>
								Как я смогу учить китайских детей, не зная их языка?
							</span>
						</div>
						<div class="accordion__hide-block js-accord-hide-block">
							<span class="accordion__line"></span>
							<div class="accordion__text">
								<p>
									К моменту Вашего прибытия, у нас уже есть несколько вакансий заинтересованных конкретно в Вас. Сроки утверждения на одну из этих вакансий, зависят от успешности Вашего демо урока. В некоторых случаях, нам удается получить одобрение и утверждение со стороны школы еще до Вашего приезда! В таком случае, мы заранее сообщаем, в какой именно город и школу вы попадете. Также, предоставляются фактические фото жилья и рабочего места.
								</p>
							</div>
						</div>
					</div>		
				</div>
				<div class="accordion__block">
					<div class="accordion__botton-block">
						<button class="accordion__button js-accord-btn" type="button">
						</button>
					</div>
					<div class="accordion__cont">
						<div class="accordion__title">
							<span>
								Будет ли у меня отпуск?
							</span>
						</div>
						<div class="accordion__hide-block js-accord-hide-block">
							<span class="accordion__line"></span>
							<div class="accordion__text">
								<p>
									К моменту Вашего прибытия, у нас уже есть несколько вакансий заинтересованных конкретно в Вас. Сроки утверждения на одну из этих вакансий, зависят от успешности Вашего демо урока. В некоторых случаях, нам удается получить одобрение и утверждение со стороны школы еще до Вашего приезда! В таком случае, мы заранее сообщаем, в какой именно город и школу вы попадете. Также, предоставляются фактические фото жилья и рабочего места.
								</p>
							</div>
						</div>
					</div>		
				</div>
			</div>
			<div class="faq-esl__wrap">
				<div class="faq-esl__violet-ellipse-bottom">
					<img src="img/faq_esl-violet-ellipse.svg" alt="ellipse">
				</div>
				<div class="faq-esl__title-bottom">
					<h2 class="title-md">
						Не нашли ответ на свой вопрос?
					</h2>
				</div>
				<div class="faq-esl__form form">
					<span class="form__coment">
						Напишите его и мы ответим вам в ближайшее время
					</span>
					<div class="form__field">
						<label class="form__focus"><input type="text" class="input js-name">Имя</label>
						<span class="form__error">Error!</span>
					</div>
					<div class="form__field">
						<label class="form__focus"><input type="text" name="phone" class="input js-phone">Телефон</label>
						<span class="form__error">Error!</span>
					</div>
					<div class="form__field">
						<label class="form__focus"><input type="text" name="phone" class="input js-phone">Здесь напишите свой вопрос</label>
						<span class="form__error">Error!</span>
					</div>
					<div class="form__submit form__submit_mode">
						<button class="button">Отправить заявку</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% include "partials/_footer.html" %}

{% endblock %}