---
title: oops404 page,
page: true
---
{% extends "layouts/_layout.html" %}



{% block content %}

{{ header.block({ class: 'header_green' }) }}
<div class="oops">
	<div class="oops__image">
		<img src="img/oops.svg">
	</div>
	<div class="oops__title title inner">
		<span class="title__content">
			<span class="title__content-text">
				Упс! Запрашиваемая вами cтраница не найдена, перейдите на главную
			</span>
			<span class="title__content-hr"></span>
		</span>
	</div>
</div>

{% include "partials/_footer.html" %}

{% endblock %}