---
title: reviews page
---
{% extends "layouts/_layout.html" %}

{% block content %}

{{ header.block({ class: 'header_yellow' }) }}

<div class="reviews__wrapper">
	<div class="reviews__yellow-ellipse-right-top">
		<img src="img/ellipse-yellow-top-r.svg" alt="ellipse">
	</div>
	<div class="reviews__yellow-ellipse-left-top">
		<img src="img/ellipse-yellow-top-l.svg" alt="ellipse">
	</div>
	<div class="reviews__yellow-ellipse-right-bottom">
		<img src="img/ellipse-yellow-top-l.svg" alt="ellipse">
	</div>
	<div class="reviews__yellow-ellipse-left-bottom">
		<img src="img/ellipse-yellow-top-l.svg" alt="ellipse">
	</div>
	<div class="reviews__inner inner">
		<div class="reviews__title">
			<h2 class="title-lg">
				Наши клиенты, которые живут и работают учителями
			</h2>
			<span class="title__content">
				<span class="title__content-hr"></span>
				<span class="title__content-text">
					По просьбе клиентов, ссылки на соц.сети можем предоставить лично.
				</span>
			</span>
		</div>
		<div class="reviews__container">
			<div class="reviews__slider">
				<div class="reviews__row">
					<div class="reviews__wrap">
						<div class="radius-slider  radius-slider_right js-radius-slider">
							<div class="radius-slider__slide">
								<div class="radius-slider__bg" style="background-image: url(../img/layer-children.png);">
								</div>
							</div>
							<div class="radius-slider__slide">
								<div class="radius-slider__bg" style="background-image: url(../img/layer-children.png);">
								</div>
							</div>
							<div class="radius-slider__slide">
								<div class="radius-slider__bg" style="background-image: url(../img/layer-children.png);">
								</div>
							</div>
						</div>
						<span class="name">
							Татьяна Коваленко, 30 лет
						</span>
					</div>
					<div class="reviews__block">
						<div class="reviews__title-block">
							<p class="reviews__title-text">
								"Спасибо «ESL Global» за прекрасную возможность увидеть мир и получить бесценный опыт"
							</p>
						</div>
						<p>
							Спасибо «ESL Global» за прекрасную возможность увидеть мир и получить бесценный опыт. Мне приятно работать с профессионалами своего дела и просто с хорошими людьми. Я всегда знаю, что не останусь без помощи и поддержки, и могу быть уверена в своих начинаниях, живя в Китае. Надеюсь и на дальнейшее плодотворное сотрудничество.
						</p>	
					</div>
				</div>
				<div class="reviews__line"></div>
				<div class="reviews__row">
					<div class="reviews__wrap">
						<div class="radius-slider  radius-slider_right js-radius-slider">
							<div class="radius-slider__slide">
								<div class="radius-slider__bg" style="background-image: url(../img/layer-nastiy.png);">
								</div>
							</div>
							<div class="radius-slider__slide">
								<div class="radius-slider__bg" style="background-image: url(../img/layer-nastiy.png);">
								</div>
							</div>
							<div class="radius-slider__slide">
								<div class="radius-slider__bg" style="background-image: url(../img/layer-nastiy.png);">
								</div>
							</div>
						</div>
						<span class="name">
							Настя, 20 лет
						</span>
					</div>
					<div class="reviews__block">
						<div class="reviews__title-block">
							<p class="reviews__title-text">
								"Спасибо «ESL Global» за прекрасную возможность увидеть мир и получить бесценный опыт"
							</p>
						</div>
						<p>
							Выражаю искреннюю благодарность компании «ESL Global» за кардинальные перемены в моей жизни. Думаю,  что у всех в жизни наступает такой момент,  что хочется что-то колоссально изменить. Такой этап был и у меня,  я решила рискнуть,  хотя ранее даже мыслей не было  ехать именно в Китай. Безусловно, я слышала много отзывов о жизни там, но все они в значительной мере  отличались друг от друга. Скажу одно: приехав сюда , увидев всю жизнь изнутри я была более чем счастлива, поскольку ты попадаешь в абсолютно другой мир,  с иной культурой , восприятием мира и стилем жизни. Кто хочет реализации, получения новых эмоций - вам сюда! Ребята работают очень слаженно,  начиная с оформления документов и до помощи во всевозможных вопросах и жизни в Китае.  Как для меня, это является большим плюсом, поскольку приехав ты находишься в шоке от того что вообще происходит, ребята оказывают поддержку во всех случаях. Спасибо вам большое!
						</p>	
					</div>
				</div>
				<div class="reviews__line"></div>
				<div class="reviews__row">
					<div class="reviews__wrap">
						<div class="radius-slider  radius-slider_right js-radius-slider">
							<div class="radius-slider__slide">
								<div class="radius-slider__bg" style="background-image: url(../img/layer-children.png);">
								</div>
							</div>
							<div class="radius-slider__slide">
								<div class="radius-slider__bg" style="background-image: url(../img/layer-children.png);">
								</div>
							</div>
							<div class="radius-slider__slide">
								<div class="radius-slider__bg" style="background-image: url(../img/layer-children.png);">
								</div>
							</div>
						</div>
						<span class="name">
							Татьяна Коваленко, 30 лет
						</span>
					</div>
					<div class="reviews__block">
						<div class="reviews__title-block">
							<p class="reviews__title-text">
								"Спасибо «ESL Global» за прекрасную возможность увидеть мир и получить бесценный опыт"
							</p>
						</div>
						<p>
							Спасибо «ESL Global» за прекрасную возможность увидеть мир и получить бесценный опыт. Мне приятно работать с профессионалами своего дела и просто с хорошими людьми. Я всегда знаю, что не останусь без помощи и поддержки, и могу быть уверена в своих начинаниях, живя в Китае. Надеюсь и на дальнейшее плодотворное сотрудничество.
						</p>	
					</div>
				</div>	
			</div>
			<div class="reviews__line"></div>
			<div class="reviews__pages-block">
				<button class="reviews__prev-btn" type="button">
					предыдущая
				</button>
				<ul class="header-mobile__length js-lang lang lang_green">
					<li class="lang__item">
						<a href="#" class="lang__text">1</a>
					</li>
					<li class="lang__item is-active">
						<a href="#" class="lang__text">2</a>
					</li>
					<li class="lang__item is-active">
						<a href="#" class="lang__text">3</a>
					</li>
					<li class="lang__item is-active">
						<a href="#" class="lang__text">4</a>
					</li>
					<li class="lang__item is-active">
						<a href="#" class="lang__text">5</a>
					</li>
				</ul>
				<button class="reviews__next-btn" type="button">
					следующая
				</button>
			</div>
		</div>
	</div>
</div>

{% include "partials/_footer.html" %}

{% endblock %}