<section>
	<div class="aa-section">
		<div class="aa-section__bubble-top">
			<img src="img/ellipse-green.svg">
		</div>
		<div class="aa-section__bubble-left">
			<img class="aa-section__bottom" src="img/ellipse-violet-50.svg">
			<img class="aa-section__top" src="img/ellipse-green-50.svg">
			<img class="active-resize" src="img/ellipse-green.svg">
		</div>
		<div class="aa-section__alphabet">
			<img src="img/alfabet-Aa.svg">
		</div>
		<div class="aa-section__title title">
			<h1 class="title__ach1 title-lg">
				Программа по трудоустройству
				учителем английского 
				языка для детей в Китае
			</h1>
			<span class="title__content">
				<span class="title__content-hr"></span>
				<span class="title__content-text">
					Тем, кто свободно говорит по-английски и любит детей
				</span>
			</span>
		</div>
		<div class="aa-section__pointer pointer">
			<span class="pointer__line-first"></span>
			<span class="pointer__line"></span>
			<span class="pointer__line"></span>
			<span class="pointer__line"></span>
			<span class="pointer__line"></span>
			<span class="pointer__line"></span>
			<span class="pointer__line"></span>
			<span class="pointer__line"></span>
			<span class="pointer__line"></span>
			<span class="pointer__line"></span>
			<span class="pointer__line"></span>
			<span class="pointer__line"></span>
			<span class="pointer__line"></span>
			<span class="pointer__line-text">
					вниз
			</span>
			<span class="pointer__line-last"></span>
		</div>
	</div>
</section>