<!-- begin about-company -->
<div class="about-company">
	<div class="about-company__row">
		<div class="about-company__col">
			<h2 class="title-md">
				Почему мы хороши в своём деле
			</h2>
		</div>
	</div>
	<div class="about-company__descr">
		<p>
			Мы были первыми в Украине, у кого получилось подойти к работе в Китае системно: отвечать за жилье и трудоустройство, брать на себя рутину с документами и поддерживать связь с клиентами 24/7.
		</p>
		<p>
			С момента основания компании набили немало шишек: кому-то не открывали визу с первого раза, кого-то не брали на работу или процесс затягивался, жилье не всегда было уютным, а соседи — тихими. 
		</p>
	</div>
	<div class="about-company__descr">
		<p>
			Зато сейчас нам не стыдно сказать, что ESL Global — единственная в Украине комплексная программа для учителей английского. Мы предусмотрели всё:
		</p>
	</div>
	<div class="about-company__list list-about">
		<div class="list-about__item">
			<div class="list-about__bg">1</div>
			<div class="list-about__icon"></div>
			<div class="list-about__descr">
				<p>
					Нашим клиентам, их друзьям и родственникам выдают визу с первого раза
				</p>
			</div>
		</div>
		<div class="list-about__item">
			<div class="list-about__bg">2</div>
			<div class="list-about__icon"></div>
			<div class="list-about__descr">
				<p>
					Жилье — хостел или постоянная квартира — уютные, тихие, недалеко от метро и автобусных остановок
				</p>
			</div>
		</div>
		<div class="list-about__item">
			<div class="list-about__bg">3</div>
			<div class="list-about__icon"></div>
			<div class="list-about__descr">
				<p>
					По прилету в Китай клиента опекает собственный наставник и помогает в бытовых и рабочих вопросах
				</p>
			</div>
		</div>
		<div class="list-about__item">
			<div class="list-about__bg">4</div>
			<div class="list-about__icon"></div>
			<div class="list-about__descr">
				<p>
					Общение с линией поддержки и другими участниками в режиме 24/7 — по телефону и через приложение ESL Global
				</p>
			</div>
		</div>
	</div>
</div>
<!-- end about-company -->