<!-- begin application-page -->
<div class="application-page">
	<div class="application-page__top">
		<div class="application-page__bg">
			<img src="img/application-bg1.svg" alt="img">
		</div>
		<div class="application-page__in in">
			<div class="application-page__page-title">
				<h1 class="title-lg">Приложение ESL Global</h1>
			</div>
			<div class="application-page__bg_phone">
				<img src="img/phone@2x.png"" alt="phone">
			</div>
			<div class="application-page__page-sub-title">
				<h4 class="title-xs">
					Социальная сеть для наших учителей английского в Китае
				</h4>
			</div>
			<div class="application-page__app">
				<a href="#" class="application-page__icon icon-app">
					<div class="icon-app__img">{{mixins.icon('apple')}}</div>
					<div class="icon-app__text">
						<p class="icon-app__text-small">Download on the</p>
						<p class="icon-app__text-big">App Store</p>
					</div>
				</a>
				<a href="#" class="application-page__icon icon-app">
					<div class="icon-app__img"><img src="img/play.svg" alt="play"></div>
					<div class="icon-app__text">
						<p class="icon-app__text-small">get it on</p>
						<p class="icon-app__text-big">Google Play</p>
					</div>
				</a>
			</div>	
		</div>
	</div>
	<div class="application-page__content">
		<div class="application-page__in in">
			<div class="application-page__content-title">
				<h1 class="title-lg">
					Возможности приложения
				</h1>
			</div>
		</div>
		<div class="application-page__wrap">
			<div class="application-page__row">
				<div class="application-page__col application-page__col_img">
					<div class="application-page__bg-content">
						<img src="img/application-bg2.svg" alt="img">
					</div>
					<div class="application-page__img">
						<img src="img/phone@2x.png" alt="phone">
					</div>	
					
				</div>
				<div class="application-page__col application-page__col_info">
					<div class="application-page__item-title">
						<h2 class="title-md">События в Китае</h2>
					</div>
					<div class="application-page__line"></div>
					<div class="application-page__descr">
						<p>
							Вы сможете отслеживать новости и происшествия, подсказывает даты праздников и других событий.
						</p>
					</div>	
				</div>
			</div>
			<div class="application-page__row">
				<div class="application-page__col application-page__col_info">
					<div class="application-page__item-title">
						<h2 class="title-md">Кафе, кинотеатры, рестораны</h2>
					</div>
					<div class="application-page__line"></div>
					<div class="application-page__descr">
						<p>
							Вы сможете отслaРекомендует проверенные рестораны и кафе, фитнес-клубы, ресурсы по заказу билетов.еживать новости и происшествия, подсказывает даты праздников и других событий.
						</p>
					</div>	
				</div>
				<div class="application-page__col application-page__col_img">
					<div class="application-page__bg-content">
						<img src="img/application-bg3.svg" alt="img">
					</div>
					<div class="application-page__img">
						<img src="img/phone@2x.png" alt="phone">
					</div>	
				</div>		
			</div>
			<div class="application-page__row">
				<div class="application-page__col application-page__col_img">
					<div class="application-page__bg-content">
						<img src="img/application-bg4.svg" alt="img">
					</div>
					<div class="application-page__img">
						<img src="img/phone@2x.png" alt="phone">
					</div>	
					
				</div>
				<div class="application-page__col application-page__col_info">
					<div class="application-page__item-title">
						<h2 class="title-md">Деловые знакомства</h2>
					</div>
					<div class="application-page__line"></div>
					<div class="application-page__descr">
						<p>
							объединяет в чат людей из разных городов для обмена опытом, фото и личных встреч.
						</p>
					</div>	
				</div>
			</div>
			<div class="application-page__row">
				<div class="application-page__col application-page__col_info">
					<div class="application-page__item-title">
						<h2 class="title-md">Уведомления от кураторов</h2>
					</div>
					<div class="application-page__line"></div>
					<div class="application-page__descr">
						<p>
							Позволяет куратору общаться со своей группой: о визах, работе или вариантах отдыха.
						</p>
					</div>	
				</div>
				<div class="application-page__col application-page__col_img">
					<div class="application-page__bg-content">
						<img src="img/application-bg5.svg" alt="img">
					</div>
					<div class="application-page__img">
						<img src="img/phone@2x.png" alt="phone">
					</div>	
				</div>		
			</div>
			<div class="application-page__row">
				<div class="application-page__col application-page__col_img">
					<div class="application-page__bg-content">
						<img src="img/application-bg6.svg" alt="img">
					</div>
					<div class="application-page__img">
						<img src="img/phone@2x.png" alt="phone">
					</div>	
					
				</div>
				<div class="application-page__col application-page__col_info">
					<div class="application-page__item-title">
						<h2 class="title-md">С приложением ESL Global жизнь в Китае станет еще удобнее</h2>
					</div>
					<div class="application-page__line"></div>
					<div class="application-page__descr">
						<p>
							Скачать приложение бесплатно
						</p>
					</div>	
				</div>
			</div>
		</div>
	</div>

</div>
<!-- end application-page -->