<!-- begin application -->
<div class="application">
	<div class="application__in in">
		<div class="application__wrap">
			<div class="application__info">
				<div class="application__title">
					<h2 class="title-md">Приложение «ESL Global»</h2>
				</div>
				<div class="application__descr">
					<p class="title-xs">Мы первые в Украине сделали приложение для наших учителей.</p>
				</div>
				<h4 class="application__subtitle">
					Что дает приложение:
				</h4>
				<ul class="application__list list-appl">
					<li class="list-appl__title">отслеживает новости и происшествия, подсказывает даты праздников и других событий.</li>
					<li class="list-appl__title">рекомендует проверенные рестораны и кафе, фитнес-клубы, ресурсы по заказу билетов.
					</li>
					<li class="list-appl__title">объединяет в чат людей из разных городов для обмена опытом, фото и личных встреч.</li>
					<li class="list-appl__title">позволяет куратору общаться со своей группой: о визах, работе или вариантах отдыха.</li>
				</ul>
				<div class="application__button">
					<button class="button button_small">Подробнее</button>
				</div>
			</div>
			<div class="application__bg">
				<img src="img/application.png" alt="img">
			</div>
			<div class="application__icon">
				<div class="application__row">
					<a href="#" class="application__icon icon-app">
						<div class="icon-app__img">{{mixins.icon('apple')}}</div>
						<div class="icon-app__text">
							<p class="icon-app__text-small">Download on the</p>
							<p class="icon-app__text-big">App Store</p>
						</div>
					</a>
					<a href="#" class="application__icon icon-app">
						<div class="icon-app__img"><img src="img/play.svg" alt="play"></div>
						<div class="icon-app__text">
							<p class="icon-app__text-small">get it on</p>
							<p class="icon-app__text-big">Google Play</p>
						</div>
					</a>
				</div>	
			</div>
		</div>	
	</div>
</div>
<!-- end application -->