<div class="bb-section">
	<div class="bb-section__alphabet">
		<img src="img/ESL_Bb.svg">
	</div>
	<div class="inner">
		<div class="bb-section__title">
			<h2 class="title-md">
				Кому подойдёт 
				программа ESL Global
			</h2>
			<div class="bb-section__block">
				<h4 class="title-xs">
					Парням и девушкам
				</h4>
				<span class="bb-section__bottom-text">
					18-35 лет с разговорным английским, из Украины и стран СНГ.
				</span>
			</div>
		</div>
		<div class="bb-section__content content">
			<div class="content__box">
				<span class="content__box-line"></span>
				<h5 class="content__box-title">
					Хочешь достойную зарплату
				</h5>
				<span class="content__box-text">
					от 1000 $ с возможностью дополнительного заработка
				</span>
			</div>
			<div class="content__box">
				<span class="content__box-line"></span>
				<h5 class="content__box-title">
					Нравится работать с детьми
				</h5>
				<span class="content__box-text">
					и хочешь попробовать себя в роли
					иностранного наставника
				</span>
			</div>
			<div class="content__box">
				<span class="content__box-line"></span>
				<h5 class="content__box-title">
					Если нет опыта работы
				</h5>
				<span class="content__box-text">
					организуем общий тренинг по работе с детьми в нашем китайском офисе
				</span>
			</div>
			<div class="content__box">
				<span class="content__box-line"></span>
				<h5 class="content__box-title">
					Не знаешь китайского
				</h5>
				<span class="content__box-text">
					но хочешь учиться на курсах и закреплять знания на практике
				</span>
			</div>
			<div class="content__box">
				<span class="content__box-line"></span>
				<h5 class="content__box-title">
					Помогаешь родным финансово
				</h5>
				<span class="content__box-text">
					потому что участники программы могут себе это позволить
				</span>
			</div>
			<div class="content__box">
				<span class="content__box-line"></span>
				<h5 class="content__box-title">
					Считаешь, что в Китае здорово
				</h5>
				<span class="content__box-text">
					и немного знаешь о культуре этой страны
				</span>
			</div>
		</div>
	</div>	
</div>