
<div class="cc-section">
	<div class="cc-section__alphabet">
		<img src="img/ESL_Cc.svg">
	</div>
	<div class="inner">
		<div class="cc-section__title">
			<h2 class="title-md">
				Почему учитель английского в Китае — это круто
			</h2>
		</div>
		<div class="cc-section__content content">
			<div class="content__box">
				<img src="img/icon_money.svg">
				<span class="content__box-text">
					Учителя в Китае — на вес золота. Поэтому, кроме зарплаты от 1000 $, участники программы могут получать 30$ за час работы репетитором.
				</span>
			</div>
			<div class="content__box">
				<img src="img/icon_calendar.svg">
				<span class="content__box-text">
					Мы опросили 25 участников нашей программы и выяснили, что расходы на питание, проезд и товары для дома не превышают 500$ в месяц.
				</span>
			</div>
			<div class="content__box">
				<img src="img/icon_speak.svg">
				<span class="content__box-text">
					Говорить на английском для китайца — это престиж и признание. Поэтому, учитель английского из Европы пользуется увaжением и никогда не останется без работы.
				</span>
			</div>
			<div class="content__box">
				<img src="img/icon_eat.svg">
				<span class="content__box-text">
					Бесплатные обеды для учителей — ещё одна возможность сэкономить и тратить деньги только на нужные вещи.
				</span>
			</div>
			<div class="content__box">
				<img src="img/icon_love.svg">
				<span class="content__box-text">
					Участники ESL Global едут в Китай, потому что понимают его культуру, любят его технологии и думают о будущем.
				</span>
			</div>
		</div>
	</div>	
</div>