<section>
	<div class="dd-section">
		<div class="dd-section__alphabet">
			<img src="img/ESL_Dd.svg">
		</div>
		<div class="dd-section__container inner">
			<div class="dd-section__title">
				<h2 class="title-md">
					Где вы будете работать
				</h2>
				<span>
					Трудоустраиваем в тренинг-центры 
					и детские сады
				</span>
			</div>
			<div class="dd-section__wrap">
				<div class="dd-section__left-col">
					<div class="dd-section__up-block">
						<div class="dd-section__title-block">
							<h4 class="title-sm">
								Тренинг-центры
							</h4>
						</div>
						<span class="dd-section__line"></span>
						<p>
							Сосредоточены на общем развитии ребёнка. 80% времени учитель поет, танцует и играет с детьми: в таком формате язык усваивается легче. Остальные 20% программы — обычные уроки английского.
						</p>
						<div class="dd-section__working-hours">
							<div class="dd-section__image-clock">
								<img src="img/icon_time.svg">
							</div>
							<div class="dd-section__list">
								<h5>
									Рабочий график:
								</h5>
								<ul>
									<li class="dd-section__text">
										среда-пятница: 16:00–20:00 (составление учебных планов)
									</li>
									<li class="dd-section__text">
										суббота-воскресенье: 10:00–19:00 (занятия с детьми)
									</li>
									<li class="dd-section__text">
										перерыв на обед: 13:00–14:00
									</li>
								</ul>
								<h5>
									Возраст детей:
								</h5>
								<span>
									3–10 лет.
								</span>
							</div>
						</div>	
					</div>
					<div class="radius-slider js-radius-slider">
						<div class="radius-slider__slide">
							<div class="radius-slider__bg" style="background-image: url(../img/img-slide.png);">
							</div>
						</div>
						<div class="radius-slider__slide">
							<div class="radius-slider__bg" style="background-image: url(../img/img-slide.png);">
							</div>
						</div>
						<div class="radius-slider__slide">
							<div class="radius-slider__bg" style="background-image: url(../img/img-slide.png);">
							</div>
						</div>
					</div>
				</div>
				<div class="dd-section__right-col">
					<div class="radius-slider radius-slider_right js-radius-slider">
						<div class="radius-slider__slide">
							<div class="radius-slider__bg" style="background-image: url(../img/img-slide.png);">
							</div>
						</div>
						<div class="radius-slider__slide">
							<div class="radius-slider__bg" style="background-image: url(../img/img-slide.png);">
							</div>
						</div>
						<div class="radius-slider__slide">
							<div class="radius-slider__bg" style="background-image: url(../img/img-slide.png);">
							</div>
						</div>
					</div>
					<div class="dd-section__bottom-block">
						<div class="dd-section__title-block">
							<h4 class="title-sm">
								Детские сады
							</h4>
						</div>
						<span class="dd-section__line"></span>
						<p>
							Их можно сравнить с театром, в котором преподаватель - актер главного плана.
						</p>
						<p>
							Учитель английского в детском саду проводит 4-5 занятий по 30 минут: 2-3 занятия до обеда и ещё 2 после обеда.
						</p>
						<div class="dd-section__working-hours">
							<div class="dd-section__image-clock">
								<img src="img/icon_time.svg">
							</div>
							<div class="dd-section__list">
								<h5>
									Рабочий график:
								</h5>
								<ul>
									<li class="dd-section__text">
										понедельник-пятница: 8:30–17:00
									</li>
									<li class="dd-section__text">
										перерыв на обед: 12:00–14:30
									</li>
								</ul>
								<h5>
									Возраст детей:
								</h5>
								<span>
									3–6 лет.
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</section>