<!-- begin feedback -->
<div class="feedback">
	<div class="feedback__bg"></div>
	<div class="feedback__bg-small"></div>

	<div class="feedback__in in">
		<div class="feedback__slider slider">
			<div class="slider__prev"></div>
			<div class="slider__next"></div>
			<div class="slider__slides js-slider-client">
				<div class="slider__slide">
					<div class="client">
						<div class="client__col">
							<div class="client__img">
								<img src="./img/client.png" alt="client">
							</div>
							<div class="client__name">Татьяна Коваленко, 30 лет</div>
						</div>
						<div class="client__col">
							<div class="client__title">
								<h2 class="title-md">Что говорят о нас клиенты</h2>
							</div>
							<div class="client__sub-title">
								<h4 class="title-xs">"Спасибо «ESL Global» за прекрасную возможность увидеть мир и получить бесценный опыт"</h4>
							</div>
							<div class="client__descr">
								<p>
									Спасибо «ESL Global» за прекрасную возможность увидеть мир и получить бесценный опыт. Мне приятно работать с профессионалами своего дела и просто с хорошими людьми. Я всегда знаю, что не останусь без помощи и поддержки, и могу быть уверена в своих начинаниях, живя в Китае. Надеюсь и на дальнейшее плодотворное сотрудничество.
								</p>
							</div>
							<a href="#" class="client__link link">
								<span>Посмотреть все отзывы</span>
								<span class="link__icon">{{mixins.icon('icon_arrow_link')}}</span>
							</a>
						</div>
						
					</div>
				</div>
				<div class="slider__slide">
					<div class="client">
						<div class="client__col">
							<div class="client__img">
								<img src="./img/client.png" alt="client">
							</div>
							<div class="client__name">Татьяна Коваленко, 30 лет</div>
						</div>
						<div class="client__col">
							<div class="client__title">
								<h2 class="title-md">Что говорят о нас клиенты</h2>
							</div>
							<div class="client__sub-title">
								<h4 class="title-xs">"Спасибо «ESL Global» за прекрасную возможность увидеть мир и получить бесценный опыт"</h4>
							</div>
							<div class="client__descr">
								<p>
									Спасибо «ESL Global» за прекрасную возможность увидеть мир и получить бесценный опыт. Мне приятно работать с профессионалами своего дела и просто с хорошими людьми. Я всегда знаю, что не останусь без помощи и поддержки, и могу быть уверена в своих начинаниях, живя в Китае. Надеюсь и на дальнейшее плодотворное сотрудничество.
								</p>
							</div>
							<a href="#" class="client__link link">
								<span>Посмотреть все отзывы</span>
								<span class="link__icon">{{mixins.icon('icon_arrow_link')}}</span>
							</a>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end feedback -->