<section>
	<div class="ff-section">
		<div class="ff-section__alphabet">
			<img src="img/ESL_Ff.svg">
		</div>
		<div class="ff-section__container inner">
			<div class="ff-section__title">
				<h2 class="title-md">
					Сколько же стоит программа и что в нее входит
				</h2>
				<span>
					Например, отправиться в Китай одному в путешествие обойдется вам от 1000$ до 2100$.
				</span>
			</div>
			<div class="ff-section__wrap js-accordion-wrap">
				<div class="ff-section__col js-accordion">
					<button type="button" class="ff-section__accord-btn js-accordion-trigger">
						Программа с жильем
					</button>
					<div class="ff-section__up-block">
						<span class="ff-section__price-program">
							Зарплата: 1000-1200 $
						</span>
						<div class="ff-section__cont">
							<h4 class="title-xs">
								Что входит:
							</h4>
							<ul class="ff-section__price">
								<li class="ff-section__list">
									Открытие долгосрочной визы в Украине
								</li>
								<li class="ff-section__list">
									Подбор, бронирование и выкуп авиабилетов
								</li>
								<li class="ff-section__list">
									Оформление страховки (без вашего присутствия)
								</li>
								<li class="ff-section__list">
									Встреча и трансфер из аэропорта в Китае
								</li>
								<li class="ff-section__list">
									Оплаченные билеты из Пекина в любой город по распределению
								</li>
								<li class="ff-section__list">
									Пакет туриста: SIM-карта, проездной на все виды транспорта, карта метро и города
								</li>
								<li class="ff-section__list">
									Контракт с возможностью бесплатного продления
								</li>
								<li class="ff-section__list">
									Поддержка и консультации по всем вопросам
								</li>
								<li class="ff-section__list">
									Открытие банковского счета в Китае
								</li>
								<li class="ff-section__list">
									Сертификат TEFL и TESOL
								</li>
								<li class="ff-section__list">
									Оплаченный хостел
								</li>
								<li class="ff-section__list">
									Предоставляемое жилье (фото ниже)
								</li>
							</ul>
							<span class="ff-section__sale">Стоимость:  1300$</span>
							<button class="ff-section__price-btn" type="button">
								оставить заявку
							</button>
							<p class="ff-section__price-text">
								*ESL Global рассчитана на участников из разных стран, стоимость билета в Китай не включена в общую стоимость. Цена билета уточняется и согласовывается персонально.
							</p>
						</div>
					</div>
				</div>
				<div class="ff-section__col js-accordion is-open">
					<button type="button" class="ff-section__accord-btn js-accordion-trigger active">
						Базовая программа
					</button>
					<div class="ff-section__up-block">
						<span class="ff-section__price-program">
							Зарплата: 1000-1200 $
						</span>
						<div class="ff-section__cont">
							<h4 class="title-xs">
								Что входит:
							</h4>
							<ul class="ff-section__price">
								<li class="ff-section__list">
									Открытие долгосрочной визы в Украине
								</li>
								<li class="ff-section__list">
									Подбор, бронирование и выкуп авиабилетов
								</li>
								<li class="ff-section__list">
									Оформление страховки (без вашего присутствия)
								</li>
								<li class="ff-section__list">
									Встреча и трансфер из аэропорта в Китае
								</li>
								<li class="ff-section__list">
									Оплаченные билеты из Пекина в любой город по распределению
								</li>
								<li class="ff-section__list">
									Пакет туриста: SIM-карта, проездной на все виды транспорта, карта метро и города
								</li>
								<li class="ff-section__list">
									Контракт с возможностью бесплатного продления
								</li>
								<li class="ff-section__list">
									Поддержка и консультации по всем вопросам
								</li>
								<li class="ff-section__list">
									Открытие банковского счета в Китае
								</li>
								<li class="ff-section__list">
									Сертификат TEFL и TESOL
								</li>
								<li class="ff-section__list">
									Оплаченный хостел
								</li>
							</ul>
							<span class="ff-section__sale">
								Стоимость:  1300$
							</span>
							<button class="ff-section__price-btn" type="button">
								оставить заявку
							</button>
							<p class="ff-section__price-text">
								*ESL Global рассчитана на участников из разных стран, стоимость билета в Китай не включена в общую стоимость. Цена билета уточняется и согласовывается персонально.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="ff-section__sale-program">
				<h2 class="title-md">
					Оплатить программу можно двумя частями:
				</h2>
				<div class="ff-section__sale-wrap">
					<div class="ff-section__left-column">
						<h3 class="title-sm">
							1. оплачивается в Украине
						</h3>
						<span class="ff-section__column-text">
							100$ (консульский сбор) + 600$ (регистрационный взнос программы)
						</span>
					</div>
					<div class="ff-section__center-image">
						<img src="img/ESL_2parts.svg">
					</div>
					<div class="ff-section__right-column">
						<h3 class="title-sm">
							2. по прибытию в Китай
						</h3>
						<span class="ff-section__column-text">
							600$ (подтверждение участия в программе)
						</span>
					</div>
				</div>	
			</div>
			<button class="ff-section__more-info js-more-info" type="button">
				узнать детали 
			</button>
		</div>	
	</div>
</section>