<!-- begin footer -->
<div class="footer">
	<div class="footer__innner inner">
		<div class="footer__col">
			<div class="footer__logo">
				<a href="#" class="logo">
					<img src="img/logo_ESL.svg" alt="logo">
				</a>
			</div>
			<div class="footer__row">
				<p>Мы в соц.сетях</p>
				<div class="footer__soc">
					<a href="#">{{mixins.icon('icon_vk')}}</a>
				</div>
				<div class="footer__soc">
					<a href="#">{{mixins.icon('icon_insta')}}</a>
				</div>
				<div class="footer__soc">
					<a href="#">{{mixins.icon('icon_fb')}}</a>
				</div>
			</div>		
		</div>
		<div class="footer__col">
			<h4 class="title-xs title-xs_small">
				Меню
			</h4>
		</div>
		<div class="footer__col"></div>
		<div class="footer__col"></div>
	</div>
</div>
<!-- end footer -->