<!-- begin footer -->
<div class="footer">
	<div class="footer__inner inner">
		<div class="footer__top">
			<div class="footer__icon">
				<div class="footer__logo">
					<a href="#" class="logo">
						<img src="img/logo_ESL.svg" alt="logo">
					</a>
				</div>
				<div class="footer__row">
					<p>Мы в соц.сетях</p>
					<div class="footer__soc-icons">
						<div class="footer__soc">
							<a href="#" class="icon-soc">{{mixins.icon('icon_vk')}}</a>
						</div>
						<div class="footer__soc">
							<a href="#" class="icon-soc">{{mixins.icon('icon_insta')}}</a>
						</div>
						<div class="footer__soc">
							<a href="#" class="icon-soc">{{mixins.icon('icon_fb')}}</a>
						</div>
					</div>	
				</div>		
			</div>
			<div class="footer__info">
				<div class="footer__col footer__col_hide">
					<div class="footer__subtitle">
						<h4 class="title-xs title-xs_small">
							Меню
						</h4>
					</div>
					<ul class="footer__nav">
						<li>Главная</li>
						<li>FAQ</li>
						<li>О компании</li>
						<li>Контакты</li>
					</ul>
				</div>
				<div class="footer__col footer__col_sm">
					<div class="footer__subtitle">
						<h4 class="title-xs title-xs_small">
							Телефон
						</h4>
					</div>		
					<div class="footer__row">
						<p>Киев:</p>
						<p>+38 (044) 233 27 66</p>
						<p>+38 (063) 233 27 66</p>
					</div>
					<div class="footer__row">
						<p>Пекин:</p>
						<p>+86 18500709387</p>
					</div>
				</div>
				<div class="footer__col footer__col_md">
					<div class="footer__row">
						<div class="footer__subtitle">
							<h4 class="title-xs title-xs_small">
								Skype
							</h4>
						</div>
						<p>Esl_Global</p>
					</div>
					<div class="footer__row footer__row_xs">
						<div class="footer__subtitle">
							<h4 class="title-xs title-xs_small">
								Почта
							</h4>
						</div>
						<p>info@eslglobal-edu.com</p>
					</div>					
					<div class="footer__row footer__row_hide footer__row_xs">
						<div class="footer__subtitle">
							<h4 class="title-xs title-xs_small">
								Принимаем платежи
							</h4>
						</div>	
						<div class="footer__carts footer__cart_hide">
							<a href="#" class="footer__cart">{{mixins.icon('master')}}</a>
							<a href="#" class="footer__cart">{{mixins.icon('PayPay')}}</a>
							<a href="#" class="footer__cart">{{mixins.icon('visa')}}</a>
						</div>
					</div>
				</div>
				<div class="footer__col footer__col_sm">
					<div class="footer__subtitle">
						<h4 class="title-xs title-xs_small">
							Офис
						</h4>
					</div>
					<div class="footer__row">
						<p>Киев. ул. Евгения Коновальца 31, Офис 108</p>
					</div>
					<div class="footer__row">
						<p>Пекин. Chaoyang, Sihui East, Longyuan wenhua chuangyiyuan 2/243</p>
					</div>
				</div>
			</div>
			<div class="footer__row footer__row_show">
				<div class="footer__subtitle">
					<h4 class="title-xs title-xs_small">
						Принимаем платежи
					</h4>
				</div>	
				<div class="footer__carts footer__cart_hide">
					<a href="#" class="footer__cart">{{mixins.icon('master')}}</a>
					<a href="#" class="footer__cart">{{mixins.icon('PayPay')}}</a>
					<a href="#" class="footer__cart">{{mixins.icon('visa')}}</a>
				</div>
			</div>
		</div>
		<div class="footer__bottom">
			<p class="copy">© 2017 ESL Global</p>
			<div class="dev-logo">
				<span>by</span>
				<a href="#" class="dev-logo__icon">
					<img src="./img/Vintage_logo.svg" alt="logo">
				</a>
			</div>
		</div>
	</div>
</div>
<!-- end footer -->