<section>
	<div class="gg-section">
		<div class="gg-section__alphabet">
			<img src="img/ESL_Gg.svg">
		</div>
		<div class="gg-section__container inner">
			<div class="gg-section__title">
				<h2 class="title-md">
					Где вы будете жить
				</h2>
				<span>
					У нас часто спрашивают о жилье. Давайте посмотрим, куда вы поселитесь при оформлении программы с жильем
				</span>
			</div>
			<div class="gg-section__wrap">
				<div class="gg-section__left-col">
					<div class="gg-section__up-block">
						<div class="gg-section__image-face"  style="background-image: url(../img/face-img.png);">
						</div>
						<div class="gg-section__title-block">
							<h4 class="title-sm">
								"На фото моя квартира в Пекине. . Спасибо вам за такие условия!"
							</h4>
							<p>
								Екатерина Пермская уехала работать в Пекин с ESL Global (2014)
							</p>
						</div>
					</div>
					<div class="radius-slider js-radius-slider">
						<div class="radius-slider__slide">
							<div class="radius-slider__bg" style="background-image: url(../img/house-work.png);">
							</div>
						</div>
						<div class="radius-slider__slide">
							<div class="radius-slider__bg" style="background-image: url(../img/house-work.png);">
							</div>
						</div>
						<div class="radius-slider__slide">
							<div class="radius-slider__bg" style="background-image: url(../img/house-work.png);">
							</div>
						</div>
					</div>
				</div>
				<div class="gg-section__right-col">
					<div class="gg-section__working-house">
						<div class="gg-section__image-house" style="background-image: url(../img/house-work.png);">
							
						</div>
					</div>
					<div class="gg-section__bottom-block">
						<div class="gg-section__image-face"  style="background-image: url(../img/face-image.png);">
						</div>
						<div class="gg-section__title-block gg-section__title-block_margin">
							<h4 class="title-sm">
								"На фото моя квартира в Пекине. . Спасибо вам за такие условия!"
							</h4>
							<p>
								Екатерина Пермская уехала работать в Пекин с ESL Global (2014)
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</section>