<header>
	<div class="header">
		<div class="header-mobile">
			<div class="header-mobile__wrapper">
				<div class="header-mobile__logo">
					<a href="#" class="logo">
						<img src="img/logo_esl.png">
					</a>
				</div>
					<span class="header-mobile__menu-text let-spac">+38 (044) 233 27 66 (киев)</span>
				<div class="header-mobile__menu">
					<button class="header-mobile__menu-button-close">
						<img src="img/icon_menu_close.svg">
					</button>
				</div>
					<span class="header-mobile__menu-text let-spac">+86 18500709387 (пекин)</span>
				<div class="header-mobile__length">
					<div class="header-mobile__length-ru">
						<span class="header-mobile__length-text">RU</span>
					</div>
					<div class="header-mobile__length-en active">
						<span class="header-mobile__length-text">EN</span>
					</div>
				</div>
			</div>
			<ul class="header-mobile__navigation">
				<li class="header-mobile__item border-first">
					<a href="#" class="header-mobile__link">
						Главная
					</a>
				</li>
				<li class="header-mobile__item border-two">
					<a href="#" class="header-mobile__link">
						Отзывы клиентов
					</a>
				</li>
				<li class="header-mobile__item border-third">
					<a href="#" class="header-mobile__link">
						FAQ
					</a>
				</li>
				<li class="header-mobile__item border-four">
					<a href="#" class="header-mobile__link">
						О компании
					</a>
				</li>
				<li class="header-mobile__item border-five">
					<a href="#" class="header-mobile__link">
						Приложение учителям
					</a>
				</li>
				<li class="header-mobile__item border-sex">
					<a href="#" class="header-mobile__link">
						Контакты
					</a>
				</li>
				<li class="header-mobile__item disp-768">
					<a href="#" class="header-mobile__link">
						<span class="header-mobile__menu-text let-spac">+38 (044) 233 27 66 (киев)</span>
					</a>
					<a href="#" class="header-mobile__link">
						<span class="header-mobile__menu-text let-spac">+86 18500709387 (пекин)</span>
					</a>	
				</li>
			</ul>
		</div>
		<div class="header__wrapper">
			<div class="header__logo">
				<a href="#" class="logo">
					<img src="img/logo_ESL.svg">
				</a>
			</div>
			<div class="header__menu">
				<span class="header__menu-text">ME</span>
				<button class="header__menu-button">
					<span class="button-line-up"></span>
					<span class="button-line-center"></span>
					<span class="button-line-bottom"></span>
				</button>
				<span class="header__menu-text">NU</span>
			</div>
			<div class="header__length">
				<div class="header__length-ru">
					<span class="header__length-text">RU</span>
				</div>
				<div class="header__length-en active">
					<span class="header__length-text">EN</span>
				</div>
			</div>
		</div>
	</div>
</header>
