<!-- begin join -->
<div class="join">
	<div class="join__in in">
		<div class="join__bg">
			<img src="img/iconk.svg" alt="img">
		</div>
		<div class="join__bg-small">
			<img src="img/iconk2.svg" alt="img">
		</div>
		<div class="join__title">
			<h2 class="title-md">Оставьте заявку и мы вместе сделаем первый шаг</h2>
		</div>
		<div class="join__subtitle">
			<h4 class="title-xs">Вышлем примеры резюме и поможем в его составлении</h4>
		</div>
		<div class="join__form form">
			<div class="form__field">
				<input type="text" class="input js-name">
				<span class="form__focus">Имя</span>
				<span class="form__error">Error!</span>
			</div>
			<div class="form__field">
				<input type="text" name="phone" class="input js-phone">
				<span class="form__focus">Телефон</span>
				<span class="form__error">Error!</span>
			</div>
			<div class="form__submit">
				<button class="button">Отправить заявку</button>
			</div>
		</div>
	</div>		
</div>
<!-- end join -->