<!-- begin license -->
<div class="license">
	<div class="license__in in">
		<div class="license__bg">
			<img src="img/about-bg2.svg" alt="img">
		</div>
		<div class="license__title">
			<h2 class="title-md">
				Мы одни из немногих имеем лицензии (ценные бумаги) на ...
			</h2>
		</div>
		<div class="license__img img-license">
			<div class="img-license__img">
				<img src="img/license1.png" alt="img">
			</div>
			<div class="img-license__title">
				<h4 class="title-xs">Лицензия о сертификации</h4>
			</div>				
		</div>
		<div class="license__sub-img img-license">
			<div class="img-license__img">
				<img src="img/license1.png" alt="img">
			</div>
			<div class="img-license__title">
				<h4 class="title-xs">Лицензия о сертификации</h4>
			</div>
		</div>
	</div>
</div>
<!-- end license -->