<!--begin trust -->
<div class="trust">
	<div class="trust__bg bg">
		<img src="img/ESL_Hh.svg" alt="img">
	</div>
	<div class="trust__in in">
		<div class="trust__wrap">
				<div class="trust__col-md">
					<div class="trust__title">
						<h2 class="title-md">Почему нам доверяют</h2>
					</div>
					<div class="trust__info">
						<h5 class="trust__info-subtitle">Оформляем долгосрочные визы</h5>
						<div class="trust__info-descr">
							<p>
								Мы делаем и бесплатно продлеваем долгосрочные визы «Х2»: для участников программы и их сопровождающих.
							</p>
							<p>
								С такой визой вы легально находитесь в стране 180 дней и выезжаете для переоформления всего один раз в год
							</p>
							<p>
								Это удобнее, дешевле и безопаснее других вариантов:
							</p>
						</div>
					</div>
					<div class="trust__row trust__row_mb">
						<div class="trust__col">
							<span class="trust__line"></span>
							<h5 class="trust__info-subtitle">Другие компании</h5>
							<ul>
								<li>Программа — 800-1000$ $</li>
								<li>Купить визу самому — 300 $ </li>
								<li>Потратить на выезды — 2400 $</li>
								<li>Купить билет до Пекина — 400 $</li>
								<li>Переоформить визу: 4-6 раз</li>
							</ul>
							<h5 class="trust__info-subtitle">Итого: 3900 $ (минимум)</h5>
						</div>
						<div class="trust__col">
							<span class="trust__line"></span>
							<h5 class="trust__info-subtitle">Другие компании</h5>
							<ul>
								<li>Программа — 800-1000$ $</li>
								<li>Купить визу самому — 300 $ </li>
								<li>Потратить на выезды — 2400 $</li>
								<li>Купить билет до Пекина — 400 $</li>
								<li>Переоформить визу: 4-6 раз</li>
							</ul>
							<h5 class="trust__info-subtitle">Итого: 3900 $ (минимум)</h5>
						</div>
					</div>
			</div>
			<div class="trust__col-md trust__col-md_or">
				<div class="trust__img img" style="background-image: url(./img/trust.png);"></div>
			</div>
		</div>
		<div class="trust__gallery">
			<!-- <div class="trust__wrap"> -->
				<div class="trust__item">
					<div class="trust__icon">{{mixins.icon('icon_free')}}

						<img src="img/icon_free.svg" alt="time">
					</div>
					<h5 class="trust__info-subtitle">Бесплатно оформляем сертификаты TEFL, TESOL</h5>
					<div class="trust__info-descr">
						<p>
							Сертификаты TEFL, TESOL — преимущество при трудоустройстве. Например, репетитор с такими сертификатами получает 30–40$ за час занятий вместо привычных 20-30$. Срок их действия не ограничен, сертификаты выдаются на руки, как только истечет контракт с ESL Global.
						</p>
					</div>
				</div>
				<div class="trust__item">
					<div class="trust__icon">
						<img src="img/icon_support_1.svg" alt="time">
					</div>
					<h5 class="trust__info-subtitle">Поддерживаем связь 24/7</h5>
					<div class="trust__info-descr">
						<p>
							Горячая линия ESL Global работает круглосуточно, даже в выходные. А если хотите пообщаться лично, приходите в наш китайский офис. У нас всегда найдётся кружка чая и несколько часов, чтобы обсудить ваши дела.
						</p>
					</div>
				</div>
				<div class="trust__item">
					<div class="trust__icon">
						<img src="img/icon_support_2.svg" alt="time">
					</div>
					<h5 class="trust__info-subtitle">Всю работу делаем за Вас</h5>
					<div class="trust__info-descr">
						<p>
							Вам нужно только подать документы и оплатить программу. Визы, поселение и трудоустройство мы берём на себя.Вы просто не сможете забыть что-то или не взять с собой: перед вылетом мы 3 раза проверим, всё ли на месте.
						</p>
					</div>
				</div>
				<div class="trust__item">
					<div class="trust__icon">
						<img src="img/icon_mobile.svg" alt="time">
					</div>
					<h5 class="trust__info-subtitle">Мобильное приложение ESL Global</h5>
					<div class="trust__info-descr">
						<p>
							Общайтесь с коллегами-учителями, узнавайте новости программы и задавайте вопросы нашим операторам. Приложение доступно для iOS и Android-устройств.
						</p>
					</div>
				</div>
				<div class="trust__item">
					<div class="trust__icon">
						<img src="img/icon_piin.svg" alt="time">
					</div>
					<h5 class="trust__info-subtitle">Вы не в Киеве? Не проблема!</h5>
					<div class="trust__info-descr">
						<p>
							Можно легко подать документы и оформить участие в программе дистанционно. Достаточно иметь доступ в интернет и почтовый адрес.
						</p>
					</div>
				</div>
			</div>
	</div>
</div>	
<!-- end trust