<!-- begin video -->
<div class="video">
	<div class="video__bg bg">
		<img src="img/ESL_Ee.svg" alt="img">
	</div>
	<div class="video__in in">
		<div class="video__info">
			<div class="video__title">
				<h2 class="title-md">Хватит слов, посмотрите видео!</h2>
			</div>
			<div class="video__descr">
				<p>
					Юля уехала по нашей программе в Китай год назад и готова показать один день из своей жизни
				</p>
			</div>
		</div>
	</div>
		<div class="video__content js-video-parent">
			<video class="js-video" src="video/video.mp4"></video>
			<div class="video__play js-video-play">
				{{mixins.icon('icon_play')}}
			</div>
			<div class="video__pause js-video-pause">{{mixins.icon('icon_pause')}}</div>
		</div>
</div>
<!-- end video -->