<!-- begin your-questions -->
<div class="your-questions">
	<div class="your-questions__in in">

		<div class="your-questions__row">
			<div class="your-questions__bg">
				<img src="img/about-bg4.svg" alt="img">
			</div>
			<div class="your-questions__col">
				<div class="your-questions__title">
					<h2 class="title-md">
						Есть вопросы о переезде, работе или жизни в Китае?
					</h2>
				</div>
				<div class="your-questions__button">
					<button class="button">ответы на вопросы</button>
				</div>
			</div>
		</div>	
	</div>
</div>
<!-- end your-questions -->