.about-company
	&__row
		+clr
	&__col
		width: 50%
		float: right

.list-about
	display: flex
	flex-wrap: wrap
	&__item
		width: 50%
		position: relative
	&__bg
		position: absolute
		top: 53px
		font-size: 234px
		font-weight: 400
		line-height: 30px