.application-page
	position: relative
	&__top
		margin-bottom: 187px
		+r(767)
		margin-bottom: 63px  
	&__page-title
		margin-bottom: 54px
		max-width: 354px
		+r(767)
			margin-bottom: 32px
	&__bg_phone
		max-width: 611px
		position: absolute
		right: -63px
		top: -5px
		+r(1279)
			position: relative
			right: 0
			top: 0
		+r(767)
			margin-bottom: 70px
		img
			max-width: 100%
			display: block
	&__page-sub-title
		position: relative
		padding-left: 132px
		margin-bottom: 76px
		max-width: 420px
		+r(767)
			padding-left: 0
			margin-bottom: 30px
		&:before
			position: absolute
			content: ''
			width: 100px
			height: 1px
			background: $grey  
			left: 4px
			top: 14px
			opacity: 0.6
			+r(767)
				top: -23px
	&__app
		display: flex
		+r(767)
			display: block
	&__icon
		&:not(:last-child)
			margin-right: 18px
		+r(767)
			margin-bottom: 30px 
	&__bg
		position: absolute
		left: 50%
		max-width: 1350px
		width: 100%
		margin-left: -2%
		margin-top: -4px
		transform: translateX(-50%)
		+r(1279)
			margin-left: -23%
			margin-top: 60px
		img
			max-width: 100%
			display: block
	&__wrap
		max-width: 1045px
		margin: 0 auto
		padding: 0 20px 
		+r(1279)
			padding: 0 105px
		+r(767)
			padding: 0 15px  
	&__content-title
		margin: 0 auto
		text-align: center 
		max-width: 383px
		margin-bottom: 46px
	&__row
		display: flex
		align-items: center
		justify-content: space-between
		margin-bottom: 300pxposre
		+r(1279)
			flex-direction: column
			margin-bottom: 100px
		&:nth-child(odd)
			.application-page__img
				position: relative
				max-width: 611px
				margin-left: -68px
				+r(1279)
					margin: 0 auto 
				img
					display: block
					max-width: 100% 
			.application-page__bg-content
				position: absolute
				top: 0
				bottom: 0
				right: 0
				left: 0
				margin-left: -23%
				max-width: 655px
				+r(1279)
					margin: 0 auto
				img
					max-width: 100%
					display: block
		&:nth-child(even)
			.application-page__img
				position: relative
				max-width: 611px
				margin-right: -68px
				+r(1279)
					margin: 0 auto
					left: 0  
				img
					display: block
					max-width: 100% 
			.application-page__bg-content
				position: absolute
				top: 0
				bottom: 0
				right: 0
				// left: 0
				// margin-right: -23%
				max-width: 655px
				+r(1279)
					margin: 0 auto
				img
					max-width: 100%
					display: block
	&__col
		position: relative
		+r(1279)
			width: 100%
		&_info
			max-width: 389px
			+r(1279)
				max-width: 100%
				order: 1
	&__col-img
		margin-bottom: 44px
		position: relative
		&_a
			padding: 6% 0 18%
			+r(1279)
				padding: 6% 0 27% 
		&_b
			padding: 6% 0 18%
			+r(1279)
				padding: 6% 0 49% 
			+r(767)
				padding: 6% 0 57% 
		&_c
			padding: 6% 0 18%
			+r(767)
				padding: 6% 0 17% 
		&_d
			padding: 6% 0 18%
			+r(1279)
				padding: 6% 0 34% 
			+r(767)
				padding: 6% 0 41% 
		&_e
			padding: 6% 0 18%
			+r(1279)
				padding: 6% 0 31% 
			+r(767)
				padding: 6% 0 38%
	&__item-title
		margin-bottom: 49px
	&__line
		width: 80px
		height: 1px
		background-color: #344c57 
		margin-bottom: 47px
	&__descr
		p
			color: #344c57
			font-size: 18px
			font-weight: 300
			line-height: 30px
			letter-spacing: 0.9px