.feedback
	padding: 226px 0 206px 
	position: relative
	+r(1279)
		padding: 0 0 92px 0
	&_pad
		padding: 138px 0 146px
		+r(1279)
			padding: 138px 0 146px
		+r(767)
			padding: 123px 0 0 0
	&_hide
		+r(767)
			display: none 
	&__bg
		margin-left: 88px
		top: 0
		height: 700px
		overflow: hidden
		+r(1279)
			margin-left: 565px
		img
			width: 1327px
	&__bag
		top: 55px
		left: 117px
		
.slider
	position: relative
	&__prev, &__next
		height: 80px
		width: 80px
		background-color: $yellow
		border-radius: 50%
		transform: translateY(-50%)
		top: 50%
		position: absolute
		z-index: 10
		background-image: url('../img/icon_arrow.svg')
		background-position: 50% 50%
		background-repeat: no-repeat
		background-size: 14px
		top: 50%
		cursor: pointer
		border: 2px solid $yellow
		transition: background-color 0.3s
		&:hover
			background-color: $white
		+r(1279)
			top: 41%
	&__next
		right: 0
		+r(1279)
			right: -95px
	&__prev
		transform: translateY(-50%) rotate(-180deg)
		+r(1279)
			left: -95px
	&__item
		background: $yellow
		height: 12px
		width: 12px
		display: block
		border-radius: 50%
		margin-right: 20px
	&__dots
		display: inline-block
		position: absolute
		text-align: center
		left: 0
		right: 0
		bottom: 0
		+r(1279)
			left: 0
			text-align: left
		+r(767)
			bottom: 65px
		&  .slick-active .slider__item
			background: $crimson 
		li
			display: inline-block
			cursor: pointer

.client
	display: flex
	align-items: flex-end
	justify-content: space-between
	+clr
	+r(1279)
		display: block
	// &__col
	// 	max-width: 405px
	// 	width: 100%
	&__col
		width: 50%
		+r(1279)
			width: 100%
	&__block
		+r(1279)
			display: flex
			align-items: center
	&__img
		width: 425px
		height: 425px
		background-size: cover
		margin-bottom: 15px
		margin-left: 30px
		+r(1279)
			width: 155px
			height: 155px
			margin-left: 0
			margin-right: 23px
		+r(767)
			width: 80px
			height: 80px
		img
			width: 100%
			display: block
	&__title
		margin-bottom: 55px
		+clr
	&__title-wrap
		float: right
		width: 50%
		+r(1279)
			width: 100%
	&__sub-title
		margin-bottom: 55px
		max-width: 405px
		+r(1279)
			max-width: 100%
	&__descr
		margin-bottom: 87px
		max-width: 405px
		color: #373e41
		font-weight: 300
		line-height: 30px
		/* Text style for "С, пасибо" */
		letter-spacing: 0.7px
		+r(1279)
			max-width: 100%
			margin-bottom: 60px
		+r(767)
			margin-bottom: 106px
		p
			line-height: 30px
			letter-spacing: 0.7px 
	&__link
		float: right
		display: block
		+r(767)
			float: none
	&__name
		color: #373e41
		font-weight: 300
		line-height: 30px
		letter-spacing: 0.7px
