.join
	position: relative
	padding: 40px 0 118px
	overflow: hidden
	&__bg
		position: absolute
		left: 50%
		top: 50%
		max-width: 854px
		width: 100%
		margin-left: 20%
		margin-top: -44px
		transform: translate(-50%, -50%)
		img
			width: 100%
			display: block
	&__title
		margin-bottom: 55px
		position: relative
		width: 502px
	&__subtitle
		margin-bottom: 32px
		position: relative
		max-width: 390px
	&__form
		position: relative
		.input
			border-bottom: 1px solid #f2f2f2
			padding: 25px 0
			width: 321px
			background: transparent

.form
	&__submit
		margin-top: 49px