.license
	padding-bottom: 657px
	&__bg
		position: absolute
		left: 50%
		transform: translateX(-50%)
		top: 611px
		left: 1050px 
	&__title
		max-width: 372px
	&__img
		position: absolute
		right: 20px
		top: 0
	&__sub-img
		position: absolute
		left: 20px
		top: 386px

.img-license
	&__img
		margin-bottom: 49px
	&__title
		text-align: center
