.work-program
	position: relative
	padding-bottom: 75px
	padding-top: 145px
	&__bg
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%,-50%)
		margin-top: 142px
		width: 100%
		+r(1600)
			width: 1600px
		img
			width: 100%
			display: block
	&__bg-j
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		width: 414px
		margin-top: -921px
		margin-left: 118px
		img
			display: block
			width: 100%
	&__bg-j-sm
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		width: 230px
		margin-top: -845px
		margin-left: 460px
		img
			display: block
			width: 100%
	&__title
		max-width: 500px
		position: relative
		margin-bottom: 10px
		z-index: 1
	&__subtitle
		margin-bottom: 184px
		max-width: 500px
		position: relative
		z-index: 1
	&__wrap
		max-width: 887px
		margin-left: 82px
		position: relative
	&__col
		&_mt
			padding-top: 160px

.list-work
	+clr
	&__item
		max-width: 354px
		position: relative
		margin-bottom: 141px
		&:nth-child(even)
			float: right
			// max-width: 360px
		&:nth-child(odd)
			float: left
		&_mt
			margin-top: 165px
	&__bg
		position: absolute
		left: 0
		top: 0
		margin-top: -124px
		margin-left: -72px
		display: flex
		img
			width: 100%
			display: block
	&__title
		margin-bottom: 31px
		position: relative
		// max-width: 351px
		letter-spacing: 0.3px
		line-height: 47px
	&__descr
		font-size: 18px
		line-height: 30px
		position: relative
		letter-spacing: 0.9px
		margin-bottom: 51px
		// max-width: 350px
	&__number
		font-size: 234px
		color: #fff
		margin-left: 11px
		font-weight: 900
		letter-spacing: 2.34px
		font-family: $Panton
		display: block
		