.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-icon_fb {
  width: 0.57em;
  height: 1em;
  fill: initial;
}
.icon-icon_insta {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-icon_vk {
  width: 1.72em;
  height: 1em;
  fill: initial;
}
