.icon-Apple_logo_black {
  width: 0.84em;
  height: 1em;
  fill: initial;
}
.icon-Get_it_on_Google_play {
  width: 0.91em;
  height: 1em;
  fill: initial;
}
.icon-icon_arrow {
  width: 0.53em;
  height: 1em;
  fill: initial;
}
.icon-icon_arrow_link {
  width: 0.57em;
  height: 1em;
  fill: initial;
}
.icon-icon_arrow_small {
  width: 0.57em;
  height: 1em;
  fill: initial;
}
.icon-icon_calendar {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-icon_check {
  width: 1.26em;
  height: 1em;
  fill: initial;
}
.icon-icon_eat {
  width: 1.52em;
  height: 1em;
  fill: initial;
}
.icon-icon_fb {
  width: 0.57em;
  height: 1em;
  fill: initial;
}
.icon-icon_free {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-icon_insta {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-icon_love {
  width: 1.22em;
  height: 1em;
  fill: initial;
}
.icon-icon_menu {
  width: 2em;
  height: 1em;
  fill: initial;
}
.icon-icon_menu_close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-icon_menu_hover {
  width: 3.85em;
  height: 1em;
  fill: initial;
}
.icon-icon_mobile {
  width: 0.7em;
  height: 1em;
  fill: initial;
}
.icon-icon_money {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-icon_pause {
  width: 1.06em;
  height: 1em;
  fill: initial;
}
.icon-icon_piin {
  width: 0.75em;
  height: 1em;
  fill: initial;
}
.icon-icon_pin {
  width: 0.83em;
  height: 1em;
  fill: initial;
}
.icon-icon_play {
  width: 1.05em;
  height: 1em;
  fill: initial;
}
.icon-icon_speak {
  width: 1.22em;
  height: 1em;
  fill: initial;
}
.icon-icon_support_1 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-icon_support_2 {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-icon_time {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-icon_vk {
  width: 1.72em;
  height: 1em;
  fill: initial;
}
.icon-master {
  width: 1.52em;
  height: 1em;
  fill: initial;
}
.icon-PayPay {
  width: 1.52em;
  height: 1em;
  fill: initial;
}
.icon-Vintage_logo {
  width: 4.67em;
  height: 1em;
  fill: initial;
}
.icon-visa {
  width: 1.52em;
  height: 1em;
  fill: initial;
}
